#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#cabecera {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: cover;
  background: linear-gradient(to right,#242424 60%, rgb(242, 182, 142)40%);

}

#cabecera-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
  width: cover;
  color: white;
}

#img-cabecera{
  margin-left: -300px;
}

#aboutme{
  color: white;
}

#button-1{
  background-color: rgb(242, 182, 142) !important;
  border-color: rgb(242, 182, 142) !important;
}

#button-1:hover{
  background-color: rgb(235, 165, 118) !important ;
}

#button-1:active{
  background-color:  rgb(237, 139, 74) !important;
}

#button-2{
  color: rgb(237, 139, 74) !important;
  border-color: rgb(242, 182, 142) !important;
}

#button-2:hover{
  background-color: rgb(240, 130, 57) !important ;
  color: white !important;
}

#button-2:active{
  background-color:  rgb(244, 152, 91) !important;
}

p{
  text-align: start;
  width: 500px;
}

#Row{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around !important;
}

#parra, #projects{
  margin-left: 20px;
}